body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Booking Widget */
.booking-widget {
    background-color: #fff;
    border: 0.5em solid #fffe59;
    border-radius: 5px;
    padding: 2em;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.booking-widget button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.booking-widget button:hover {
    background-color: #45a049;
}

.booking-widget label {
    display: block;
    margin-top: 4%;
    font-weight: bold;
    margin-bottom: 8px;
}

.booking-widget input,
.booking-widget select {
    width: auto;
    padding: 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: larger;
}

.booking-widget select span {
    max-width: 10%;
}

/* Flexbox Card structure */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 260px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    transition: transform 0.3s;
}

.card:hover {
    transform: perspective(500px) rotateY(5deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid #000000;
}

.card:hover img {
    transform: scale(1.2);
}

.card-content {
    padding: 20px;
    border-radius: 50px;
    max-height: 150px;
    font-size: smaller;
}

.card:hover .card-content {
    background-color: #f0f0f0;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card:hover .card-title {
    color: #4CAF50;
}

.card-description {
    color: #555;
}

.card:hover .card-description {
    color: #777;
}

.card-section {
    padding: 0px;
    background-color: #00d3fb;
}

/* Styling for the Who Are We section */
.who-are-we {
    padding: 50px 20px;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.who-are-we p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.who-are-we h2 {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 20px;
}

.who-are-we ul {
    font-size: 1.0em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.who-are-we li {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #26688E;
}

.whatsapp-icon-fixed {
    width: 4%;
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 340%;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    left: 93%;
    bottom: 15%;
    z-index: 1000;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}


/* Button Styles */
.errorPopupButtons {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 2em;
}

.errorPopupButtons:hover {
    background-color: #d32f2f;
    /* Darker Red */
}

#errorModal {
    text-align: center;
    font-weight: bold;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75vh;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    z-index: 1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .booking-widget {
        position: static;
        margin-top: 20px;
    }

    .card {
        width: 45%;
        max-width: none;
    }

    .whatsapp-icon-fixed {
        left: 85%;
        bottom: 10%;
        font-size: 200%;
        width: 10%;
    }

    /* Modal Content */
    .modal-content {
        margin: auto;
    }


}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}